################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/202301011112_ZUpDown/.vs/202301011112_ZUpDown/FileContentIndex/read.lock
/202301011112_ZUpDown/.vs/202301011112_ZUpDown/v17/.futdcache.v2
/202301011112_ZUpDown/.vs/202301011112_ZUpDown/FileContentIndex/bf429ddb-4854-4147-8a65-72a5c691f402.vsidx
/202301011112_ZUpDown/.vs/ProjectEvaluation/202301011112_zupdown.projects.v5.2
